@model normari.Models.Timpi


<div>
    <h4>Timpi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timp1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timp1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timp2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timp2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timp3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timp3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timp4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timp4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timp5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timp5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timp6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timp6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timp7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timp7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timp8)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timp8)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timp9)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timp9)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timp10)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timp10)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timp11)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timp11)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timp12)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timp12)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timp13)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timp13)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timp14)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timp14)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timp15)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timp15)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timptotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timptotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Starttime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Starttime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endtime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endtime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Normaid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Normaid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Timpid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

